@import "src/assets/sass/mixins";
@import "src/assets/sass/variables";

.container {
  @include flexContainer(flex, column, '');
  font-size: 14px;

  & div {
    display: flex;
    flex-direction: column;
  }

  & span:nth-child(odd) {
    margin-top: 35px;
    color: $titleColor;
    margin-bottom: 10px;
  }

  & span:nth-child(even) {
    color: $colorBlack;
  }

  .executorBox {
    display: flex;
    flex-direction: column;

    .select {
      display: flex;
      flex-direction: row !important;

      .executorName {
        color: #3585d7;
      }

      & select {
        margin-top: 0;
      }
    }
  }

  .tagsBox {
    margin-bottom: 15px;
  }

  & img {
    margin-right: 5px;
  }

  .tagsContainer {
    display: inline-block;
    margin-bottom: 10px;

    .tags {
      border: 1px solid $borderColor;
      border-radius: 20px;
      padding: 0 10px 0 10px;
      font-size: 12px;
      color: $titleColor;
      background-color: $colorWhite;
      text-align: center;
    }
  }


}