@import "src/assets/sass/mixins";
@import "src/assets/sass/variables";

.container {
  @include  flexContainer(flex, column, '');

  & div {
    display: flex;
    flex-direction: column;
  }

  & span:nth-child(odd) {
    margin-top: 35px;
    color: $titleColor;
  }

  & span:nth-child(even) {
    color: #030303;
  }
  .executorBox {
    display: flex;
    flex-direction: column;
    .select {
      display: flex;
      flex-direction: row !important;

      & select {
        margin-top: 0;
      }
    }
  }


  .tags {
    border: 1px solid $borderColor;
    border-radius: 20px;
    padding: 0 15px 0 15px;
    font-size: 12px;
    color: $titleColor;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}