@import "src/assets/sass/mixins";
@import "src/assets/sass/variables";

.container {
  @include flexContainer(flex, column, '');
  width: 745px;
  height: 100vh;
  background-color: $backgroundColor;
  overflow-y: scroll;

  .content {
    @include flexContainer(flex, '', space-between);
    height: 100%;

    .leftContent {
      @include flexContainer(flex, column, '');
      height: 100vh;
      margin-left: 35px;
      font-size: 14px;

      .description {}

      & span {
        color: $titleColor;
        margin-top: 25px;
      }

      & p {
        font-weight: 600;
      }

      & textArea {
        margin-top: 14px;
        margin-left: 0;
        width: 400px;
        height: 85px;
        background-color: $backgroundColor;
        border: none;
        outline: none;
      }

      & button {
        margin-left: 0;
        margin-bottom: 40px;
      }
    }

    .rightContent {
      @include flexContainer(flex, column, '');
      align-items: flex-start;
      padding-left: 20px;
      width: 240px;
      height: 100%;
      border-left: 1px solid $borderColor;

      .statusBox {
        @include flexContainer(flex, '', center);
        align-items: center;

        .circle {
          margin-right: 5px;
          height: 10px;
          width: 10px;
          margin-top: 35px;
          border-radius: 5px;
        }

        .status {
          margin-top: 35px;
        }

      }
    }
  }
}