@import "../../assets/sass/variables";

.menu {
  min-width: 95px;
  min-height: 100vh;
  background-color: #002137;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    margin-bottom: 30px;
  }

  & a {
    text-decoration: none;
    color: $colorWhite;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .activeLink {
    color: $colorWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    filter: invert(1);
  }

  & img {
    margin-top: 20px;
  }

}