@import "../../assets/sass/variables";

.menu {
  min-width: 95px;
  min-height: 100vh;
  background-color: #002137;
  text-align: center;
  display: flex;
  flex-direction: column;

  .logo {
    margin: 20px 0 20px 0;
  }

  & a {
    text-decoration: none;
    color: $colorWhite;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 10px 0 10px 0;
  }

  .activeLink {
    color: $colorWhite;
    font-size: 12px;
    background-color: #002c49;
  }

}