@import "../../assets/sass/variables";

.header {
  min-height: 65px;
  background-color: $mainHeaderColor;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;

  & input {
    width: 680px;
    border-radius: 25px;
    margin-left: 18px;
  }
}


