.header {
  height: 65px;
  background-color: rgb(209, 224, 237);
  width: 100%;
  display: flex;
  align-items: center;

  & input {
    width: 680px;
    border-radius: 25px;
    margin-left: 18px;
  }
}


