@import "src/assets/sass/mixins";
@import "src/assets/sass/variables";

.container {
  .containerComment {
    @include flexContainer(flex, column, '');

    .commentBox {
      display: flex;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid $borderColor;
        background-color: $colorWhite;
      }

      .name {
        align-self: center;
        margin-left: 10px;
        font-weight: 600;
      }

      & span {
        margin-left: 10px;
      }
    }
  }

  .comment {
    display: inline-block;
    max-width: 500px;
    margin-left: 50px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    background-color: #e3e9f4;
    padding: 5px;
  }
}
