.container {
  margin-top: 65px;

  .table {
    margin-top: 10px;
    //width: 100vw;
    border-collapse: collapse;

    & thead tr td {
      width: 120px;
      height: 25px;
      padding-right: 10px;
      position: relative;
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #dae0e7;

      &:before {
        position: absolute;
        right: 0;
        height: 70%;
        width: 1px;
        background-color: #dae0e7;
        content: '';
      }
    }

    & tr td:nth-child(1) {
      text-align: center;
      width: 120px;
    }

    & tbody tr td:nth-child(3){
      text-align: center;
    }

    & tr td:last-child {
      width: 100vw;
    }

    & tbody tr td {
      height: 52px;
      width: 120px;
      border-bottom: 1px solid #dae0e7;
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 10px;

      & span {
        padding: 2px 7px 2px 7px;
        font-size: 12px;
        border-radius: 25px;
      }
    }
  }

  .task {
    position: fixed;
    height: 100vh;
    top: 65px;
    right: 0;
    bottom: 0;
  }
}
